
/* global styles */

a,
h1,
h2,
h3,
h4,
p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.highlight {
    color: #C82586;
}

/* header */

#site-header { 
    padding: 15px 35px;
    box-shadow: 0px 3px 4px 0px #d0d0d0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    width: 45px;
    height: 45px;
}

#desktop-navigation li {
    float: left;
    margin-left: 35px;
}

nav a {
    color: #4a4a4a;
    font-weight: bold;
}

nav a:hover {
    color: #C82586;
}

#site-header button {
    outline: none;
    display: none;
}

#mobile-navigation {
    position: fixed;
    width: 100%;
    top: 91px;
    left: 0;

    display: none;
}

#mobile-navigation li {
    text-align: center;
    padding: 15px 5px;
    background-color: hsla(0, 0%, 95%, 75%);

    transition: background-color 0.3s ease;
    cursor: pointer;
}

#mobile-navigation li:hover {
    background-color: hsla(0, 0%, 95%, 100%);
}

/* landing */

#landing {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url('../img/hackathon.jpg');
}

#branding {
    text-align: center;
}

#branding img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

#branding h2 {
    margin-top: 25px;
    color: #291F71;
    font-weight: 400; /* thin */
    font-size: 2em;
    letter-spacing: 0.15em;
}

#branding h2 span {
    color: #C82586;
    font-weight: bold;
}

#branding h3 {
    color: #4EEAF6;
    letter-spacing: 0.15em;
}

#event-details {
    max-width: 38%;
    text-align: center;
}

#event-details h1 {
    margin-bottom: 35px;
}

#register-button {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 45px;
    background-color: #C82586;
    border-radius: 3px;

    transition: background-color, color 0.3s ease;
}

#register-button:hover {
    background-color: #ffffff;
    color: #C82586;
}

@media (max-width: 800px) {
    #landing {
        flex-direction: column;
    }

    #event-details {
        max-width: 70%;
    }

    #desktop-navigation {
        display: none;
    }

    #site-header button {
        display: block;
    }

    #branding img {
        width: 200px;
    }
}