
/* global styles */

:root {
    --gentle-white: #f2f2f2;
    --gentle-black: #4a4a4a;
    --brand-purple: #291F71;
    --brand-pink: #C82586;
    --brand-baby-blue: #4EEAF6;
}

a,
h1,
h2,
h3,
h4,
p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--gentle-white);
    display: flex;
    flex-direction: column;
}

.highlight {
    color: var(--brand-pink);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--gentle-white);
}

::-webkit-scrollbar-thumb {
    background-color: hsla(324, 69%, 46%, 0.65);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--brand-pink);
}

/* header */

#site-header { 
    padding: 15px 35px;
    box-shadow: 0px 3px 4px 0px #d0d0d0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--gentle-white);

    z-index: 10;
}

#header-logo {
    width: 45px;
    height: 45px;
}

.tooltip {
    background-color: #a3a3a3;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50%;
    margin-left: 5px;
    font-size: 0.7em;
    
    user-select: none;

    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: var(--gentle-black);
    color: var(--gentle-white);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;

    top: 0;
    left: 25px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* todo: move any home page-specific CSS to home.css */

#content {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 75px; /* to account for the 75px high position:fixed header */

    background-image: url('../img/hackathon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#branding {
    text-align: center;
}

#branding img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

#branding h2 {
    margin-top: 25px;
    color: var(--brand-purple);
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.15em;
}

#branding h2 span {
    color: var(--brand-pink);
    font-weight: bold;
}

#branding h3 {
    color: var(--brand-baby-blue);
    letter-spacing: 0.15em;
}

#event-details {
    max-width: 38%;
    text-align: center;
}

#event-details h1 {
    margin-bottom: 35px;
}

#register-button {
    color: var(--gentle-white);
    font-weight: bold;
    text-align: center;
    padding: 15px 45px;
    background-color: var(--brand-pink);
    border-radius: 3px;

    transition: background-color, color 0.3s ease;
}

#register-button:hover {
    background-color: var(--gentle-white);
    color: var(--brand-pink);
}

@media (max-width: 800px) {
    #content {
        flex-direction: column;
        margin-top: 91px; /* to account for the 91px high position:fixed header */
    }

    #event-details {
        max-width: 70%;
    }

    #branding img {
        width: 200px;
    }
}

@media (max-width: 540px) {
    #branding img {
        width: 200px;
    }
    
    #branding h2 {
        font-size: 1.8em;
    }

    #event-details h1 {
        font-size: 1.2em;
    }

    .tooltip .tooltip-text {
        left: 0;
        top: 27px;
    }
}

@media (max-width: 412px) {
    #content {
        padding: 20px 0px;
    }

    #branding img {
        width: 180px;
    }
    
    #branding h2 {
        font-size: 1.5em;
    }

    #event-details h1 {
        font-size: 1em;
    }

    #register-button {
        padding: 10px 35px;
    }
}

@media (max-width: 350px) {
    /* iPhone 5/SE */
    #branding img {
        width: 150px;
    }
    
    #branding h2 {
        font-size: 1.4em;
    }

    #event-details h1 {
        margin-top: 50px
    }
}

footer {
    padding: 3px 3px;
    text-align: center;
    background-color: var(--gentle-white);
}

footer p {
    font-weight: bold;
    color: var(--gentle-black);
}