
/* global styles */

:root {
    --gentle-white: #f2f2f2;
    --gentle-black: #4a4a4a;
    --brand-purple: #291F71;
    --brand-pink: #C82586;
    --brand-baby-blue: #4EEAF6;
}

a,
h1,
h2,
h3,
h4,
p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--gentle-white);
    display: flex;
    flex-direction: column;
}

.highlight {
    color: var(--brand-pink);
}

/* header */

#site-header { 
    padding: 15px 35px;
    box-shadow: 0px 3px 4px 0px #d0d0d0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    width: 45px;
    height: 45px;
}

/* landing */

#content {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url('../img/hackathon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#branding {
    text-align: center;
}

#branding img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

#branding h2 {
    margin-top: 25px;
    color: var(--brand-purple);
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.15em;
}

#branding h2 span {
    color: var(--brand-pink);
    font-weight: bold;
}

#branding h3 {
    color: var(--brand-baby-blue);
    letter-spacing: 0.15em;
}

#event-details {
    max-width: 38%;
    text-align: center;
}

#event-details h1 {
    margin-bottom: 35px;
}

#register-button {
    color: var(--gentle-white);
    font-weight: bold;
    text-align: center;
    padding: 15px 45px;
    background-color: var(--brand-pink);
    border-radius: 3px;

    transition: background-color, color 0.3s ease;
}

#register-button:hover {
    background-color: var(--gentle-white);
    color: var(--brand-pink);
}

@media (max-width: 800px) {
    #content {
        flex-direction: column;
    }

    #event-details {
        max-width: 70%;
    }

    #branding img {
        width: 200px;
    }
}

footer {
    padding: 3px 3px;
    text-align: center;
    background-color: var(--gentle-white);
}

footer p {
    font-weight: bold;
    color: var(--gentle-black);
}